body{
    font-family: 'Lato', sans-serif;
    background-color: antiquewhite;
}
.xyz{
    font-size: 15px;
}

h1{
    font-weight: 900;
}

p{
    font-size: 15px;
}

h3{
    font-weight: 900;
}

h4{
    color:chocolate;
    font-weight: 900;
}